.baseline {
  align-items: baseline;
}

.center {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.flex-start {
  align-items: flex-start;
}

.stretch {
  align-items: stretch;
  align-items:
}
